*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    max-width: 1200px;
    margin: 40px auto;
    padding-bottom: 30px;
}

/* header */

.header
{
    margin: auto;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.name
{
    position: relative;
    bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    color: black;
}

.profile-picture
{
    position: relative;
    bottom: 5px;
    background: #ccc;
    border-radius: 15px;
    padding: 45px;
    margin: auto 0;
    align-items: center;
}

.sleep, .nutrition
{
    position: relative;
    bottom: 10px;
    border-radius: 10px;
    width: 500px;
    height: 10px;
    margin: 10px auto;
}

.sleep-filler
{
    height: 100%;
    width: 60%;
    border-radius: 10px;
    background-color: #295fe9;
}

.nutrition-filler
{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: #57AE21;
}

.sleep
{
    background: #ADBDE6;
}

.nutrition
{
    background: #C4EBAC;
}

.icons
{
    align-items: center;
    display: flex;
    flex-direction: column;
}

span.material-symbols-outlined
{
    color: black;
    font-size: 15px;
    margin: 2px 10px;
}

.bar
{
    position: relative;
    bottom: 10px;
    background: blue;
    border-radius: 10px;
    width: 500px;
    height: 10px;
    margin: 10px auto;
}

.baby-selector {
    margin-left: auto;
    position: relative;
}

#baby-dropdown {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #72BA9F;
    color: #FFFFFF;
    cursor: pointer;
    font-family: var(--font-poppins-regular);
    font-weight: 600;
    margin: 0px;
}

#baby-dropdown:hover
{
    background-color: #61a18a;
}

/* drop down css doesn't work smh */
/* #baby-dropdown .drop-option
{
    font-family: var(--font-poppins-regular);
    font-weight: 600;
    background-color: #72BA9F;
    color: #FFFFFF;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

#baby-dropdown .drop-option:hover {
    background-color: #61a18a;
    color: #FFFFFF;
} */

/* food log  */

#food-log-container 
{
    width: 90%;
    color: #18352a;
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#food-log-container h3
{
    font-weight: 500;
    font-size: 30px;
    color: black;
}

#quick-log
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.material-symbols-outlined#info
{
    font-size: 25px;
}

.material-symbols-outlined#info:hover
{
    color: #686868;
}

.info-button
{
    font-size: 30px;
}

.food-log-border
{
    width: 100%;
    padding: 10px;
    background-color: #72BA9F;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
}

.food-log
{
    width: 100%;
    height: 100%;
    background-color: #FFEDDE;
    border-radius: 10px;
    display: flex;
}

.food-input
{
    text-align: left;
    vertical-align: top;
    background: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 0px 100px 20px;
}

.food-input:focus
{
    border: none;
    outline: none;
}

.submit-log
{
    height: 20%;
    background-color: #72BA9F;
    border: none;
    border-radius: 6px;
    padding: 5px 2px 5px 2px;
    margin: 0px 10px 5px 0px;
    position: relative;
    top: 88px;
}

.submit-log:hover
{
    background-color: #64a58d;
}

span#send
{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/* sleep data and nutrition  */
#sleep-title
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#nutrition-title
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sleep-container, .nutrition-intake
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    background-color: #265D3E;
    border-radius: 15px;
}

.sleep-panel, .bedtime-panel, .intake-panel, .nutrition-list
{
    border-radius: 15px;
    width: 50%;
    padding: 20px;
}

.row-flex
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-flex
{
    display: flex;
    flex-direction: column;
}

.toggles
{
    display: flex;
    width: 90px;
    background-color: #0B1737;
    border-radius: 5px;
    margin-left: 30%;
}

.Day7, .Day14, .Day30
{
    width: 30px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Day7
{
    background-color: #8AD4B9;
}

.sleep-date, .nutrition-date
{
    font-size: 13px;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
}

.row-flex#nap
{
    align-items: center;
    justify-content: space-between;
}

.first-item, .second-item
{
    display: flex;
}

.bluecirc
{
    padding: 5px;
    height: 10%;
    background-color: #6CE4FF;
    border-radius: 20px;
    margin: 10px;
}

.whitecirc
{
    padding: 5px;
    height: 10%;
    background-color: #f1f3f3;
    border-radius: 20px;
    margin: 10px;
}

.yellowcirc
{
    padding: 5px;
    height: 10%;
    background-color: #FFCF67;
    border-radius: 20px;
    margin: 10px;
}

.sleep-graph, .bedtime-graph, .nutrition-intake-graph
{
    width: 100%;
    height: 100%;
}

.bedtime-date
{
    font-size: 13px;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
}

/* adjust sleep button */

.row-flex#sleep-add
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 3vh auto;
}

.row-flex#sleep-add h3
{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.adjust-sleep-time, .add-nutrition
{
    background-color: #72BA9F;
    border: none;
    padding: 10px 20px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.adjust-sleep-time p , .add-nutrition p
{
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.adjust-sleep-time .material-symbols-outlined , .add-nutrition .material-symbols-outlined
{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 20px;

}

.adjust-sleep-time:hover, .add-nutrition:hover
{
    background-color: #61a18a;
}

span.material-symbols-outlined#adjust, span.material-symbols-outlined#nutrition
{
    margin: 0px 0px 0px 0px;
}

/* Recommend  */
.recommend
{
    margin: 5vh 0px 0px 0px;
}

.recommend h3
{
    text-align: center;
}

.row-flex#recommend
{
    justify-content: left;
}

.rec
{
    margin: auto;
    margin-top: 2vh;
}

.rec-img
{
    width: 50px;
    height: 45px;
    border-radius: 10px;
}

.rec-txt
{
    margin: auto;
    text-align: center;
}

/* nutrition list  */

.row-flex#nutrition-add
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 3vh auto;
}

.row-flex#nutrition-add h3
{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.nutrition-list 
{
    max-width: 400px;
    margin: auto;
}
  
.nutrition-list h2 
{
    margin-bottom: 20px;
}

.nutrient 
{
    margin-bottom: 15px;
}

.top-row 
{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}  

.bar-container 
{
    background-color: #f5eec0;
    border-radius: 2px;
    height: 10px;
    overflow: hidden;
}

.bar-fill 
{
    background-color: orange;
    height: 100%;
    width: 0;
}

.tooltip-wrapper 
{
    position: relative;
    display: inline-block;
}
  
.tooltip-text {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    background-color: #72BA9F;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-family: var(--font-poppins-regular);
    margin: 0px;
}

.tooltip-wrapper:hover .tooltip-text {
    opacity: 1;
}
  

h1, h2, h3, p, li, span
{
    color: white;
}

h3
{
    font-weight: 600;
}