#hero-container{
    background-image: linear-gradient(to bottom, transparent 70%, var(--background) 100%),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/hero-img.jpg");
    background-size: cover;
    background-position: center top 20%;
    height: 75vh;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: clamp(1rem, 2vw, 2rem);
}
p{
    font-size: 20px;
}

a{
    text-decoration: none;
}

#hero-container{
    display: flex;
    justify-content: center;
}

#hero-title{
    padding: 3rem 0px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: white;
}

#cta-button{
    background-color: var(--darker-mint);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 5px;
    color: var(--text-contrast);
    transition: 0.2s;
}

#cta-button:hover{
    background-color: #3b5c50;
    color: var(--white);
}

#how-it-works{
    padding: 10vw;
    padding-top: 10vh;
    color: var(--text-contrast);
    box-sizing: border-box;
}

#how-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10vh;
    column-gap: 2vw;
    padding: 16vh 4vw;
}


.how-card{
    background-color: var(--dark-green);
    border-radius: 12px;
    padding: 2rem 2rem;
    padding-top: 6rem;
    text-align: center;
    color: white;
    width: 16vw;
    position: relative;
}

.how-card-icon{
    background-color: var(--mint);
    padding: 1rem;
    position: absolute;
    top: -5rem;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.how-card-icon img {
    width: 6rem;
    height: 6rem;
}

.how-card h3{
    text-align: center;
}

.how-card p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#feature-title{
    padding: 0vh 10vw;
    padding-bottom: 6vh;
}

#features-benefits{
    background-color: var(--darker-mint);
    display: flex;
    flex-direction: row;
}

#features-container{
    flex: 0 0 50%;
    padding: 4rem 0px;
    color: var(--text-contrast);
}

#features-img{
    background-image: url("assets/feature-1.png");
    background-size: cover;
    background-position: center;
    flex: 0 0 50%;
}

.features{
    margin: 8px 11vw;
    padding: 2rem;
    border-left: 2px solid black;
}

.features p{
    margin-top: 1.5rem;
}

.selected{
    border-color: var(--white);
}

#customer-testimony{
    background-color: var(--blue);
    box-sizing: border-box;
    width: 100vw;
    padding: 4rem 5vw;
    padding-bottom: 6rem;
}

#customer-testimony-container{
    display: flex;
    flex-direction: row;
}

#testimony-title{
    text-align: right;
    padding: 0px 5vw;
    padding-bottom: 2rem;
}

.testimony-container{
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0px 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.small-testimony, #big-testimony{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.picture-container img{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}

.testimony-text{
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 75%;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quote{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font-size: 32px;
}

.customer-name{
    font-size: 1rem;
    font-style: italic;
}