#hero-container{
    background-image: linear-gradient(to bottom, transparent 70%, var(--background) 100%),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/hero-img.jpg");
    background-size: cover;
    background-position: center top 20%;
    height: 75vh;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 28px;
}

p{
    font-size: 20px;
}

#hero-container{
    display: flex;
    justify-content: center;
}

#hero-title{
    padding: 9vh 0px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: white;
}

#how-it-works{
    padding: 10vw;
    padding-top: 10vh;
    color: var(--text-contrast);
}

#how-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    row-gap: 10vh;
    column-gap: 2vw;
    padding: 16vh 4vw;
}

.how-card{
    background-color: var(--dark-green);
    border-radius: 12px;
    padding: 2rem 2rem;
    padding-top: 6rem;
    text-align: center;
    color: white;
    width: 16vw;
    position: relative;
}

.how-card-icon{
    background-color: var(--mint);
    padding: 1rem;
    position: absolute;
    top: -20%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.how-card-icon img {
    width: 6rem;
    height: 6rem;
}

.how-card h3{
    text-align: center;
}

.how-card p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#feature-title{
    padding: 0vh 10vw;
    padding-bottom: 6vh;
}

#features-benefits{
    background-color: var(--darker-mint);
    display: flex;
    flex-direction: row;
}

#features-container{
    flex: 0 0 50%;
    padding: 6vh 0px;
    color: var(--text-contrast);
}

#features-img{
    background-image: url("assets/feature-1.png");
    background-size: cover;
    background-position: center;
    flex: 0 0 50%;
}

.features{
    margin: 8px 11vw;
    padding: 2rem;
    border-left: 2px solid black;
}

.features p{
    margin-top: 1.5rem;
}

.selected{
    border-color: var(--white);
}