/* bagian kiri */
.search-bar {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
}

.main-page-contaner {
  display: flex;
  flex-direction: row;
}

.search-container {
  width: 100%;
}

#back-button {
  margin-top: 3px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 38px;
  height: 38px;
  background-color: rgb(38, 93, 62);
  border-radius: 10px;
}

form {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px 15px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-left: 0.6rem;
}

input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

input[type="text"]::placeholder {
  color: #aaa;
}

.item-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgb(38, 93, 62);
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  height: 75px;
  width: 250px;
  margin-left: 25px;
  margin-top: 25px;
}

.item:hover {
  transform: translateY(-2px);
}

.item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.item p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

/* bagian kanan */

.main-container {
  width: 850px;
  height: 34rem;
  left: 350px;
  top: 100px;
  margin: auto;
  border-radius: 15px;

  background: rgb(38, 93, 62);
}

.food-header {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: poppins, sans-serif;
}

.food-header img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 50px;
  margin-top: 20px;
}

.food-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  margin-top: 25px;
}

.food-category {
  margin: 0;
  font-size: 25px;
  align-items: center;
  font-weight: 500;
}

.food-name {
  font-size: 20px;
  font-weight: bold;
  font-weight: 500;
}

.food-texts h2 {
  font-size: 20px;
  margin: 0;
  color: black;
  font-weight: 500;
}

.sub-container {
  display: flex;
  gap: 25px;
  font-size: 15px;
}

.nutrition-information {
  background-color: rgb(22, 134, 72);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: poppins, sans-serif;
}

.nutrition-texts h2 {
  display: flex;
  color: black;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 100px;
  margin: 20px;
}

.nutrition-numbers h2 {
  display: flex;
  font-weight: 500;
  margin: 20px;
}

.right-container {
  margin-left: 10px;
}

.time {
  background-color: rgb(22, 134, 72);
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 500px;
  height: 85px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Poppins, sans-serif;
}

input[type="number"] {
  width: 5rem;
  font-size: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid none;
  color: black;
  text-align: center;
  border-radius: 0.3rem;
  user-select: text;
  caret-color: black;
  transition: border-color 0.3s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.separator {
  flex-shrink: 0;
  user-select: text;
}

.time-part {
  cursor: default;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  user-select: text;
}

#meridiem {
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0 0.5rem;
}

#meridiem:hover,
#meridiem:focus {
  background-color: rgb(22, 134, 72);
  color: black;
  outline: none;
}

.serving-size {
  background-color: rgb(22, 134, 72);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 500px;
  height: 85px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: poppins, sans-serif;
}

.serving-size-slider #value {
  font-size: 23px;
}

.note {
  background-color: rgb(22, 134, 72);
  margin-top: 1rem;
  margin-left: 6%;
  margin-right: 55px;
  border-radius: 10px;
  height: 100px;
  font-family: poppins, sans-serif;
}

.note h5 {
  margin: 1rem;
  padding-top: 1%;
  margin-left: 1rem;
}

.note-input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.note-input textarea {
  display: block;
  border-radius: 10px;
  resize: none;
  border-color: white;
  width: 95%;
  margin: auto;
  margin-top: -10px;
}

#note::placeholder {
  font-family: poppins, sans-serif;
}

.confirm-button {
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 40%;
  border-radius: 10px;
  border: none;
  background-color: rgb(22, 134, 72);
}

#confirm-button-text {
  margin-left: 1.2rem;
  margin-right: 1rem;
  font-size: 2em;
  font-weight: 500;
  font-family: poppins, sans-serif;
}

.confirm-button :hover {
  cursor: pointer;
}
