.container
{
  font-family: var(--font-poppins-regular);
  width: 60%;
  margin: 7vh auto;
  display: flex;
  flex-direction: column;
}

.buttons
{
  margin: 15px auto;
  display: flex;
  gap: 10px;
}

/* Slider Track */
.noUi-connect 
{
  background: #93ecd3; /* fill */
}

/* slider  */
.noUi-target 
{
  background: #265D3E; 
  border: none;
  box-shadow: none;
  height: 20px;
  border-radius: 10px;
}

.noUi-handle::before,
.noUi-handle::after 
{
  display: none;      
}

/* Slider Handles */

.noUi-handle 
{
  text-decoration: none;
  background: #289C5A;
  box-shadow: none;
  top: -5px;
  
  border: none;
  cursor: grab;
  transition: background 0.3s;
}

/* Hover effect */
.noUi-handle:hover {
  background: #248b51;
}

/* Active dragging */
.noUi-handle:active {
  background: #1e7544;
}

/* Tooltip style */
.noUi-tooltip {
  font-family: var(--font-poppins-regular);
  font-size: 15px;
  font-weight: 500;

  background: #93ECD3;
  color: #265D3E;
  border: none;
  border-radius: 6px;
  padding: 4px 6px;
}

.noUi-horizontal .noUi-handle
{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: -5px;
}

#back-button, #confirm-button
{
  font-family: var(--font-poppins-regular);
  background-color: #72BA9F;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#back-button
{
  padding: 12px 15px;
}

#confirm-button
{
  padding: 12px 10vw;
  font-size: 15px;
}

.material-symbols-outlined#slider-icons
{
  color: #265D3E;
  font-size: 25px;
}

#icons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}

#slider
{
  margin: 10px 0 20px;
}

#card
{
  padding: 3vh 10vw;
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: #72BA9F;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#title
{
  font-family: var(--font-poppins-regular);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 6vh;
}
