body, html{
    width: 100vw;
    height: 100dvh;
}

.main-col-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem clamp(3rem, 20vw, 25rem);
    gap: 1rem;
}

.collab-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#header-title{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.col-header-row2{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

#find-baby{
    padding: 0.5rem;
    flex: 2;
}

#manage{
    width: fit-content;
    border: none;
    background-color: var(--darker-mint);
    border-radius: 5px;
    font-weight: 400;
}



.collab-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}



.collab-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: var(--mint);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.material-symbols-outlined.more-icon{
    color: black;
}

.material-symbols-outlined{
    color: white;
}

.more{
    color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    background: none;
    border: none;
    padding: 0.2em 0.2em;
}

.more:hover{
    background-color: var(--button-hover);
}

.baby-name{
    font-size: 1rem;
    font-weight: 500;
}



.baby-icon{
    width: 3em;
    height: 3em;
    border-radius: 24px;
    padding: 0.5em 0.5em;
    background-color: var(--button-hover);
}

.collab-row1{
    display: inline-flex;
    justify-content: space-between;
}

.baby-info{
    display: inline-flex;
    gap: 2em;
}


.collab-row2{
    display: inline-flex;
    justify-content: space-between;
    gap: 2rem;
}

.collab-button{
    display: inline-flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    height: 2rem;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    flex: 1;
}

.collab-button:hover{
    box-shadow: 0px 2px black;
}

.collab-button p{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}

.nutrition{
    background-color: var(--orange);
}

.sleep{
    background-color: var(--blue);
}

.qlog{
    background-color: #72BA9F;
    color: #ffffff;
}

.qlog span{
    color: #ffffff;
}