.hover:hover{
    background-color: #ddd;
    border-radius: 8px;
}

p{
    font-size: 1em;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatbot-content{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: auto;
}


.nuri-sidebar{
    overflow: auto;
    background-color: var(--lavender);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    overflow: hidden;
    justify-content: space-between;
}

#opened-sidebar{
    display: none;
    width: 20%;
    max-width: 25%;
}

#closed-sidebar{
    align-items: center;
    width: min(12%, 4vw)
}


.icon-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    gap: clamp(0.5rem, 1.5vh, 2rem);
}

#main-container{
    width: fit-content;
    flex-direction: row;
}


#main-ai-container{
    flex-direction: row;
}
.qa-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    height: fit-content;
}

#qa-insight{
    background-color: var(--green);
}

#qa-analyze{
    background-color: var(--rose);
}

#qa-sleep{
    background-color: var(--skyblue);
}

#qa-nutrition{
    background-color: var(--orange);
}

/* Opened Sidebar */

.history-title{
    font-weight: bolder;
}

.chat-history-text{
    font-size: 10px;
    text-align: left;
}


.quick-action-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.chat-history-text:hover{
    border-bottom: 0.5px solid black;

}

.chat-history{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.account-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#account-icon{
    padding-left: 0%;
}

.action-icon{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nuri-icons{
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 0.2em 0.2em;
    border-radius: 8px;
    }

.nuri-buttons{
    background: none;
    border: none;
    padding: 10% 10%;
    width: 100%;
}



.qa-nuri-buttons{
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    padding: 0 2em;
    padding-left: 0%;
    gap: 0.5rem;
    align-items: center;
}

/* Bagian Chat */

.nuri-history{
    background: none;
    border: none;
    padding: 0%;
}


.chat-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: break-word;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: clamp(1.5rem, 5vw, 4rem) clamp(2rem, 8vw, 8rem);
    overflow: hidden;
}

.nuri-chat{
    display: flex;
    flex-direction: column;
    width: clamp(80vw, 80%, 90vw);
    align-items: center;
    text-align: center;
    gap: clamp(1rem, 4vh, 2rem);
}

.nuri-chat p{
    text-align: center;
}



.nuri-chat-buttons-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
    padding: 0% clamp(0rem, 10%, 40rem);
    box-sizing: border-box;
}

.nc-button{
    display: inline-flex;
    align-items: center;
    background: white;
    border: 1.5px solid black;
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.nc-button:hover{
    box-shadow: 0 2px 4px black;
}

.nc-button:active{
    background: #ddd;
}

.nc-button .material-symbols-outlined{
    display: inline-block;
    margin-right: 0.5em
}

.nc-button p{
    font-size: 0.7em;
}

.nuri-textbox{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1em 1em;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.textbox{
    display: inline-flex;
    align-items: center;
}

.textbox #send-chat{
    background-color: var(--green);
}

.textbox #send-chat:hover{
    background-color: #A9F47B;
}

.nuri-textbox textarea{
    font-family: var(--font-poppins-regular);
    width: 100%;
    height: clamp(1em, 5vh, 3em);
    max-width: 100%;
    padding: 0.5rem 0.5rem;
    resize: none;
    border: none;
    background-color: transparent;
    overflow-wrap: break-word;
    field-sizing: content;
}

.nuri-textbox textarea:focus{
    border: none;
    outline: none;
}

.nuri-textbox hr.rounded{
    border-top: 2px solid lavender;
    width: 100%;
    height: 0;
    border-radius: 4px;
}

.textbox-qa{
    display: inline-flex;
    justify-content: flex-start;
    gap: 1em;
}

.textbox-qa hr.rounded{
    width: 2px;
    height: 100%;
}

.attach-button{
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}


.attach-button:hover{
    background-color: #ddd;
}
