.hover:hover{
    background-color: #ddd;
    border-radius: 8px;
}

.chatbot-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}


.nuri-sidebar{
    background-color: var(--lavender);
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    justify-content: space-between;
    width: fit-content;
    height: 480px;

}

#opened-sidebar{
    display: none;
    width: 20%;
}

#closed-sidebar{
    width: 5%;
}


.icon-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    gap: 16px;
}

#main-container{
    width: fit-content;
    flex-direction: row;
}


#main-ai-container{
    flex-direction: row;
}
.qa-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#qa-insight{
    font-size: 14px;
    background-color: var(--green);
}

#qa-analyze{
    font-size: 14px;
    background-color: var(--rose);
}

#qa-sleep{
    font-size: 14px;
    background-color: var(--skyblue);
}

#qa-nutrition{
    font-size: 14px;
    background-color: var(--orange);
}

/* Opened Sidebar */

.history-title{
    font-weight: bolder;
}

.chat-history-text{
    font-size: 10px;
    text-align: left;
}


.quick-action-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.chat-history-text:hover{
    border-bottom: 0.5px solid black;

}

.chat-history{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.account-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#account-icon{
    padding-left: 0%;
}

.action-icon{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nuri-icons{
    width: fit-content;
    padding: 8px 8px;
    border-radius: 8px;
}

.nuri-buttons{
    background: none;
    border: none;
    padding: 0%;
    width: 100%;
}

.qa-nuri-buttons{
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    padding: 0px 8px;
    padding-left: 0%;
    gap: 10px;
    align-items: center;
    width: fit-content;
}

/* Bagian Chat */

.nuri-history{
    background: none;
    border: none;
    padding: 0%;
}


.chat-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 80px 200px;
}

.nuri-chat{
    background-color: red;
    width: 100%;
    text-align: center;
}


