.hover:hover{
    background-color: #ddd;
}

.chatbot-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.nuri-sidebar{
    background-color: var(--lavender);
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    justify-content: space-between;
    width: auto;
    height: 800px;
}

#closed-sidebar{ 
    width: 10%;
}

.icon-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    gap: 16px;
}

#main-container{
    width: fit-content;
    flex-direction: row;
}


#main-ai-container{
    flex-direction: row;
}
.qa-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.action-icon{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nuri-icons{
    width: fit-content;
    padding: 8px 8px;
}

.nuri-buttons{
    background: none;
    border: none;
    padding: 0%;
}

.nuri-history{
    background: none;
    border: none;
    padding: 0%;
}


.chat-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 80px 200px;
}

.nuri-chat{
    background-color: red;
    width: 100%;
    text-align: center;
}


